.btn{
    width: 100%;
    padding: 5px 10px;
    color: white;
    background-color: #A8C0A6;
    border-radius: 10px;
    border: none;   
    font-family: "Mulish";
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
}




  