.header{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px 40px;
    height: 80px;
    background-color: #A8C0A6;
}

.nav{
    width: 100%;    
    display: flex; 
    align-items: center;
    justify-content: space-between;

}

.actions{
    display: flex;
    gap: 30px;
}

.nav-item{
    color: white;
}

.logo{
    margin-right: 90px;
    width: 175px;
    font-size: 22px;
    font-weight: 900;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-id{
    color: white;
}