@media (max-width: 1300px) {
    .book-catalog{
        max-width: 1260px;
    }

    .book-list{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1100px) {
    .book-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .book-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 540px) {
    .input{
        width: 250px;
    }
}