@media (max-width: 1300px) {
    .book-catalog {
        max-width: 1260px;
    }

    .book-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1100px) {
    .book-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 820px) {
    body {
        font-weight: 800;
        font-size: 18px;
    }

    .book-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .event-card {
        flex-direction: column;
        gap: 12px;
    }

    .event-img {
        width: 100%;
    }

    .search-input-wrapper {
        max-width: 200px;
    }
}

@media (max-width: 540px) {
    .input {
        width: 250px;
    }
}