@media (max-width: 1300px) {
    .book-catalog {
        max-width: 1260px;
    }

    .book-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1100px) {
    .book-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 820px) {
    body {
        font-weight: 800;
        font-size: 18px;
    }

    .book-list {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .event-card {
        flex-direction: column;
        gap: 12px;
    } */

    .event-img {
        width: 250px;
    }

    .event-text{
        font-weight: normal;
        font-size: 14px;
    }

    .search-input-wrapper {
        max-width: 200px;
    }
}

@media (max-width: 540px) {
    .input {
        width: 250px;
    }

    .title{
        font-size: 18px;
    }

    .input{
        padding: 5px 10px;
        font-size: 12px;
    }

    .search-icon{
        width: 15px;
        height: 15px;
    }

    .user-icon {
        width: 22px;
        height: 22px;
    }

    .notification-icon {
        width: 22px;
        height: 22px;
    }

    .cover-img {
        max-width: 100px;
        max-height: 200px;
    }

    .book-list{
        gap: 10px;
    }

    .book-card{
        font-size: 12px;
    }

    .btn{
        font-weight: normal;
        font-size: 12px;
    }

    .box{
        display: flex;
        flex-direction: column;
    }

    .event-img {
        width: 150px;
    }
}

@media (max-width: 400px){
    main{
        margin: 0 10px;
    }

    .logo{
        font-size: 12px;
    }

    .user-id{
        margin: 0;
        font-size: 12px;
    }

    .event-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .event-img {
        width: 100%;
    }

    .event-text{
        width: 100%;
        align-items: center;
    }

    .btns-container{
        width: 100%;
        justify-content: center;
    }

    .event-btn{
        width: 100%;
    }

    .event-title{
        margin: 5px 0;
    }

    .event-subtext{
        margin-bottom: 15px;
    }

}