.renew-requests-page{
    margin: 20px;
}

.renew-list .btns-container{
    display: flex;
}

@media (max-width: 820px) {
    .renew-list{
        font-weight: normal;
        font-size: 18px;
    }
}

@media (max-width: 540px) {
    .renew-list {
        font-size: 14px;
        font-weight: normal;
    }
}