@import '../src/style/header.css';
@import '../src/style/bookList.css';
@import '../src/style/img.css';
@import '../src/style/btn.css';
@import '../src/style/events.css';
@import '../src/style/loginPage.css';
@import '../src/style/searchBar.css';
@import '../src/style/loans.css';
@import '../src/style/modal.css';
@import '../src/style/map.css';
@import '../src/style/renew.css';

/* @import '../src/style/history.css'; */

@import '../src/style/media.css';


html {
    /* Скрываем скроллбар в WebKit (Chrome, Safari) */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: auto;
    /* Предотвращаем появление скролла на html */
    transform: scale(0.95);
    animation: scaleUp 0.2s forwards;
}

/* Скрываем в Chrome, Safari, Opera (WebKit-браузеры) на html */
html::-webkit-scrollbar {
    display: none;
    width: 0;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish";
    font-weight: 900;
    font-size: 22px;

    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

/* Центрируем main и задаём максимальную ширину */
main {
    max-width: 1260px;
    /* максимальная ширина контента */
    width: 100%;
    /* чтобы на маленьких экранах занимал всю ширину */
    margin: 0 auto 30px;
    /* центрирование по горизонтали */
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}