@import '../src/style/header.css';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish";
    font-weight: 900;
    font-size: 22px;
}

a{
    color: black;
    text-decoration: none;
}
